asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
crispy-bootstrap5==0.6
Django==4.0.4
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-sendfile2==0.6.1
django-taggit==3.0.0
fontawesome==5.10.1.post1
soupsieve==2.3.2.post1
sqlparse==0.4.2
